In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('bike_clean.csv')

In [3]:
data.head()

,bike_id,bike_type,passholder_type,duration,trip_route_category,estimated_fare,temperature,humidity,windspeed,weather,start_station,end_station,start_time,end_time,start_lat_lon,end_lat_lon
0,12017,standard,Walk-up,26,One Way,1.75,54,17,5,Few Clouds,3005.0,3082.0,2018-12-31 23:56:00,2019-01-01 00:22:00,"(34.0485, -118.25853700000002)","(34.04652, -118.23741100000001)"
1,12128,standard,Walk-up,28,One Way,1.75,54,17,5,Few Clouds,3005.0,3082.0,2018-12-31 23:54:00,2019-01-01 00:22:00,"(34.0485, -118.25853700000002)","(34.04652, -118.23741100000001)"
2,12347,standard,Walk-up,97,One Way,7.00,54,17,5,Few Clouds,4211.0,4210.0,2018-12-31 23:51:00,2019-01-01 01:28:00,"(33.984928000000004, -118.46996299999999)","(33.984341, -118.47155)"
3,5730,standard,Walk-up,7,Round Trip,1.75,54,17,5,Few Clouds,3069.0,3069.0,2018-12-31 23:47:00,2018-12-31 23:54:00,"(34.05088, -118.248253)","(34.05088, -118.248253)"
4,6222,standard,Walk-up,9,Round Trip,1.75,54,17,5,Few Clouds,3069.0,3069.0,2018-12-31 23:46:00,2018-12-31 23:55:00,"(34.05088, -118.248253)","(34.05088, -118.248253)"